.alert{
    position: absolute;
    z-index: 1;
    top: 180px;
    right: 0;
    text-align: center;
    
    
    p{
        // background-color: var(--yellow-theme-main-color);
        width: 400px;
        padding: 10px 20px;
        border: 4px;
        font-size: 14px;
    }

}

@media only screen and (max-width : 768px){
    .alert{
        p{
            width: 200px;
            font-size: 12px;
            padding: 5px 10px;
        }
    }
}